body {
	font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #ccc;
    padding: 2em 0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0;
}
h2{
    text-align: center;
    font-size: 1.5em;
    padding: 1.5em 0;
}
#section-1{
    background: linear-gradient(#ccc, #fff);
    padding: 0;
    margin: 0;
}
.section-nav ul{
    display: flex;
}
.section-nav li{
    padding: 1em 2em;
    border: 1px solid #000;
}

.list-container{
    padding: 0 ;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.list-container li{
    width: 29%;
    padding: 1%;
    margin: 1%;
    background-color: #FFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
.list-container li:hover{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}
.list-container h3{
    font-size: 1.6em;
    font-weight: bold;
}
.list-container h3,
.list-container p,
.list-container span{ 
    margin: 3% 0;
    color:black
}
.list-container a,
.section-nav a{
    text-decoration: none;
    
}
.list-container img{
    width: 100%;
}
.list-container .calltoaction{ 
    padding: 1em 2em;
    margin: 1em 0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 100px;
    transition: all 0.3s;
    color:black
}
.list-container li:hover .calltoaction{ 
    background-color: black;
    color: #FFF;
}
@media screen and (max-width: 870px) { 
	.list-container li{
        width: 45%;   
    }
}
@media screen and (max-width: 480px) { 
	.list-container li{
        width: 95%;   
    }
}